* {
    padding: 0%;
    margin: 0%;
}

.mayus {
    text-transform: uppercase;
}

.headerBg {
    background-image: url(../img/Background_slider.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-bottom: 20%;
    z-index: 1;
}


/* Navbar1 */

.textFormat a,
button {
    color: whitesmoke;
    font-size: small;
}


/* Portada */

.positionSearch {
    position: relative;
    margin-top: 250px;
    z-index: 1000;
}

.widthSearch {
    width: 75%;
}

.textFormatSearch {
    font-size: small;
    text-align: start;
}

.textFormatSearch button {
    width: 100%;
    font-size: small;
    text-align: start;
}


/* Property Month */

.propertyMonth {
    background-image: url(../img/background_property_month.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.propertyMonth div {
    z-index: 1000;
}

.cardTextSize {
    font-size: small;
}

.cardProp {
    border: none;
    background: none;
    height: 75%;
}


/* Featured */

.btnFeatured {
    width: 40%;
}


/* Artículos */

.anchoImg {
    width: 120%;
}

.positionImg {
    position: relative;
    margin-left: -110px;
}

.alinerTexto {
    text-align: right;
}


/* Footer */

footer {
    margin-top: 100px;
    padding: 13%;
    background-image: url(../img/bakcground_footer.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.positionTitle {
    position: absolute;
    margin-bottom: 100%;
    margin-top: -7%;
    margin-left: 28%;
    z-index: 2000;
}

.textFooter a {
    color: whitesmoke;
    font-size: small;
}

.textFooter .active {
    color: whitesmoke;
    font-weight: bold;
}

.positionInfo {
    position: absolute;
    margin-top: 9%;
    font-size: small;
}