* {
    padding: 0%;
    margin: 0%;
}

.mayus {
    text-transform: uppercase;
}

.headerBg {
    background-image: url(../img/Background_slider.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-bottom: 20%;
    z-index: 1;
}


/* Navbar1 */

.textFormat a,
button {
    color: whitesmoke;
    font-size: small;
}


/* Portada */

.positionSearch {
    position: relative;
    margin-top: 250px;
    z-index: 1000;
}

.widthSearch {
    width: 75%;
}

.textFormatSearch {
    font-size: small;
    text-align: start;
}

.textFormatSearch button {
    width: 100%;
    font-size: small;
    text-align: start;
}


/* Property Month */

.propertyMonth {
    background-image: url(../img/background_property_month.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.propertyMonth div {
    z-index: 1000;
}

.cardTextSize {
    font-size: small;
}

.cardProp {
    border: none;
    background: none;
    height: 75%;
}


/* Featured */

.btnFeatured {
    width: 40%;
}